*.log
*.env
node_modules/
dist/
coverage/
.DS_Store
.idea/
.vscode/
*.iml

# all folders and subfolders __pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

#All .env files in folder and subfolders
**/*.env
**/cache/
**/logs/
**/tmp/

# all venv in folders and subfolders
/backend/venv/
